.mission__title {
  font-family: 'Acme', sans-serif;
  text-shadow: 2px 3px 0.3px black;
  font-size: 30px;
  padding-right: 110px;
}

.mission__content {
  text-align: left;
  text-shadow: 1px 1px 1px  white;
  font-size: 23px;
  letter-spacing: 1.8px;
  font-weight: 600;
  color: #3E6358;
}

.Mission {
  width: 48%;
  margin-left: 60px;
  color: white;
}

.landing__nav {
  display: flex;
  width: 40%;
  height: 312px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
    .landing__btn {
      border: 2px white ridge;
      width: 130px;
      font-family: 'Acme', sans-serif;
      border-radius: 20px;
      height: 50px;
      margin: 10px;
      color: white;
      background-color: #3E6358;
      padding: 10px;
      font-size: 20px;
      outline: none;
      text-shadow: 2px 2px 0.3px black;
      &:hover {
          color: #FCCA46;
          border:inset 1.5px #FCCA46;
          outline: none;
      }
      i {
        padding: 5px;
        float: right;
        line-height: 13px;
      }
    }
}